<th:block th:fragment="maintable">
<!-- главная таблица с контентом -->
<table class="content-table">
  <tr class="tr-header">
    <td class="f" th:text="#{web.ecode}"></td>
    <td class="f" th:text="#{web.etitle}"></td>
    <td class="f" th:text="#{web.from}"></td>
    <td class="f" th:text="#{web.to}"></td>
  </tr>
  <tr class="tr-header" th:each="title : ${titles}">
    <td class="td-content-uneditable" th:utext="${title.titleOrder.employeeNumber}"></td>
    <td class="td-content-uneditable" th:utext="${title.titleOrder.title}"></td>
    <td class="td-content-uneditable" th:utext="${title.titleOrder.fromDate}"></td>
    <td class="td-content" th:utext="${title.toDate}"></td>
    <td sec:authorize="hasAnyAuthority('ADMIN', 'HR')" class="last-cell" ><span class="delete fa fa-window-close"></span></td>
  </tr>
</table>
</th:block>


<th:block th:fragment="maincontent">
<!-- Модальное окно добавления сотрудника -->
<div id="openModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" th:text="#{web.assign}"></h3>
        <a href="#close" title="Close" class="close">×</a>
      </div>
      <div class="modal-body">
        <form action="#" th:action="@{/titles/add}" th:object="${title}" method="post">
          <table>
            <tr>
              <td th:text="#{web.ecode}">
              </td>
                <td>
                <input type="text" name="employeeNumber" value="" th:field="*{titleOrder.employeeNumber}">
                </td>
            </tr>
            <tr>
              <td th:text="#{web.totitle}">
              </td>
                <td>
                <input type="text" name="title" value="" th:field="*{titleOrder.title}">
                </td>
            </tr>
            <tr>
              <td th:text="#{web.from}">
              </td>
                <td>
                <input type="date" name="fromDate" value="" th:field="*{titleOrder.fromDate}" >
                </td>
            </tr>
            <tr>
              <td th:text="#{web.to}">
              </td>
                <td>
                <input type="date" name="toDate" value="" th:field="*{toDate}" >
                </td>
            </tr>
          </table>
          <input type="submit" name="addTitle" th:value="#{web.assign}">
        </form>
      </div>
    </div>
  </div>
</div>

<div class="content">

<!-- форма для редактирования данных сотрудника -->
<form action="#" name="editForm" th:action="@{/titles/update}" th:object="${title}" method="post">
<input type="hidden" id="newEmpNo" name="newEmpNo" value="" th:field="*{titleOrder.employeeNumber}"/>
<input type="hidden" id="newTitle" name="newTitle" value="" th:field="*{titleOrder.title}"/>
<input type="hidden" id="newFromDate" name="newFromDate" value="" th:field="*{titleOrder.fromDate}"/>
<input type="hidden" id="newToDate" name="newToDate" th:field="*{toDate}" value=""/>
<input type="hidden" id="newCurrentPage" name="currentPage" value=""/>
</form>

<!-- кнопки с действиями на странице -->
<div sec:authorize="hasAnyAuthority('ADMIN', 'HR')" class="action-buttons">
<span class="action-button"><a href="#openModal" th:text="#{web.assign}"></a></span>
</div>
</th:block>
