<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Список сотрудников</title>
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/departments.js}"></script>
  </head>
  <body>

    <!-- Переменные для интернационализации приложения -->
    <input type="hidden" name="areYouSureToDelete" id="areYouSureToDelete" th:value="${areYouSureToDelete}">

    <th:block th:include="/_header"></th:block>
    <!-- Панель выбора страницы -->
    <th:block th:include="/_pagination"></th:block>

    <div id="openModal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Добавление департамента</h3>
            <a href="#close" title="Close" class="close">×</a>
          </div>
          <div class="modal-body">
            <form action="#" th:action="@{/departments/add}" th:object="${department}" method="post">
              <table>
                <tr>
                  <td>
                    Код отдела
                  </td>
                    <td>
                    <input type="text" name="departmentId" value="" th:field="*{departmentId}" placeholder="d000">
                    </td>
                </tr>
                <tr>
                  <td>
                    Название отдела
                  </td>
                    <td>
                    <input type="text" name="name" value="" th:field="*{name}" placeholder="">
                    </td>
                </tr>
              </table>
              <input type="submit" name="addDepartment" value="Добавить">
            </form>
          </div>
        </div>
      </div>
    </div>

<div class="content">

  <!-- ошибки -->


  <form action="#" name="editForm" th:action="@{/departments/update}" th:object="${department}" method="post">
    <input type="hidden" id="newDepartmentId" name="departmentId" value="" th:field="*{departmentId}"/>
    <input type="hidden" id="newName" name="name" value="" th:field="*{name}"/>
    <input type="hidden" id="newCurrentPage" name="currentPage" value=""/>
  </form>

  <div class="action-buttons">
    <span class="action-button"><a href="#openModal">Добавить отдел</a></span>
  </div>

  <input type="hidden" id="currentFilterString" val="" name="currentFilterString" th:value="${filter}"/>
  <input type="hidden" name="maxPages" id="maxPages" th:value="${maxPages}"/>

  <div class="filter">
      <input type="text" name="filter-input" id="filterInput" class="filter-input" value="" placeholder="Введите текст для поиска"/>
  </div>

      <div class="messages">
        <table class="message-table">
            <tr class="message" th:each="message : ${messages}"><p th:text = "${message}"></p><br></tr>
        </table>
      </div>

    <table class="content-table">
      <tr class="tr-header">
        <td class="f">Код отдела</td>
        <td class="f">Название отдела</td>
      </tr>
      <tr class="tr-header" th:each="department : ${departments}">
        <td class="td-content-uneditable" th:utext="${department.departmentId}"></td>
        <td class="td-content" th:utext="${department.name}"></td>
        <td class="last-cell" ><span class="delete fa fa-window-close"></span></td>
      </tr>
  </table>
    </div>

    <th:block th:include="/_footer"></th:block>
  </body>
</html>
