<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Список сотрудников</title>
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="stylesheet" th:href="@{/employees.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/employees.js}"></script>
  </head>
  <body>
    <th:block th:include="/_header"></th:block>
    <!-- Панель выбора страницы -->
    <th:block th:include="/_pagination"></th:block>
    <div class="content">
    <table class="content-table">
      <tr class="tr-header">
        <td class="f">Номер</td>
        <td class="f">Фамилия</td>
        <td class="f">Имя</td>
        <td class="f">Дата рождения</td>
        <td class="f">Дата принятия на работу</td>
        <td class="f">Пол</td>
      </tr>
      <tr class="tr-header" th:each="employee : ${employees}">
        <td class="td-content" th:utext="${employee.employeeNumber}"></td>
        <td class="td-content" th:utext="${employee.lastName}"></td>
        <td class="td-content" th:utext="${employee.firstName}"></td>
        <td class="td-content" th:utext="${employee.gender}"></td>
        <td class="td-content" th:utext="${employee.birth_date}"></td>
        <td class="last-cell td-content" ><span th:utext="${employee.hireDate}"></span><span class="close fa fa-window-close"></span></td>
      </tr>
  </table>
    </div>

    <th:block th:include="/_footer"></th:block>
  </body>
</html>
