<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Список сотрудников</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/employees.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/employees.js"></script>

  </head>
  <body>

    <div class="content">
      <table class="content-table">
        <tr class="tr-header">
          <td class="f">Номер</td>
          <td class="f">Фамилия</td>
          <td class="f">Имя</td>
          <td class="f">Дата рождения</td>
          <td class="f">Дата принятия на работу</td>
          <td class="f">Пол</td>
        </tr>
      <tr class="tr-header">
        <td class="td-content">10001</td>
        <td class="td-content">Иванов</td>
        <td class="td-content">Петр</td>
        <td class="td-content">22.11.1993</td>
        <td class="td-content">22.11.1993</td>
        <td class="last-cell td-content">M<span class="close fa fa-window-close"></span> </td>
      </tr>

    </table>


    </div>
    <div class="pagination">
      <input type="hidden" name="currentPage" id="currentPage" th:value="${currentPage}">
      <div class="page-buttons">
        <table class="page-buttons-table">
          <tr class="page-buttons-row">
            <!--td class="page-button selected">1</td-->
            <!--td class="page-button">2</td-->
            <!--td class="page-button page-selector">...</td-->

          </tr>
        </table>
      </div>
    </div>

  </body>
</html>
