<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Список сотрудников</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/employees.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  </head>
  <body>

    <div class="content">
      <table>
        <tr>
          <td class="f">Номер</td>
          <td class="f">Фамилия</td>
          <td class="f">Имя</td>
          <td class="f">Дата рождения</td>
          <td class="f">Дата принятия на работу</td>
          <td class="f">Пол</td>
        </tr>
      <tr>
        <td>10001</td>
        <td>Иванов</td>
        <td>Петр</td>
        <td>22.11.1993</td>
        <td>22.11.1993</td>
        <td class="last-cell">M<span class="close fa fa-window-close"></span> </td>
      </tr>

    </table>
    </div>

  </body>
</html>
