@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

.language-sel{
   margin-left: 100px;
   margin-right: 100px;
 }

html, body{
  margin: 0;
}

header{
  width: 100vw;
  height: 50px;
  border-bottom: 1px solid grey;
  background-color: white;
  display: table;
}

footer{
  width: 100vw;
  height: 50px;
  border-top: 1px solid grey;
  background-color: white;
  max-height: 50px;
}

/* блок всего содержимого на странице */
.content{
  width: 100%;
  height: 100%;
}

/*div содержит кнопки меню в левой части заголовка*/
.main-menu-buttons{
  display: table-cell;
  vertical-align: middle;
  margin-left: 200px;
  height: 100%;
}

/*предполагается, что этот div будет содержать такие иконки для действий как вход, регистрация, выход и т.д
  в данный момент там находятся заглушки в виде текста вместо иконок*/
.main-menu-icons{
  display: table-cell;
  vertical-align: middle;
  margin-left: 200px;
  height: 100%;
}

/*иконка действия в правой части панели меню*/
.main-menu-icon{
  margin-left: 100px;
  color: grey;
  font-weight: bold;
  font-family: "Open Sans", serif;
}

/*кнопка меню в левой части*/
.main-menu-button{
  margin-left: 100px;
  color: grey;
  font-weight: bold;
  font-family: "Open Sans", serif;
}

span a:hover{
  cursor: pointer;
  color: black;
}

span a{
  text-decoration: none;
  color: grey;
}

/*таблица где выводятся данные в табличной форме*/
.content-table{
  border-collapse: collapse;
  width: 50%;
  margin-left: 25%;
  margin-top: 25px;
  margin-bottom: 50px;
}

/*стиль строки заголовка таблицы*/
.tr-header{
  height: 50px;
  width: 50%;
  text-align: center;
  text-color: white;
  margin: 50px;
  border: 1px solid grey;
}

/*стиль ячейки таблицы*/

.td-content {
    margin: 50px;
    padding: 0px;
    font-family: Roboto serif;
}

/*стиль нередактируемой ячейки таблицы, такой как ID сотрудника, которые нельзя менять*/

.td-content-uneditable {
    margin: 50px;
    padding: 0px;
    font-family: Roboto serif;
    color: grey;
}

/* блок где находится кнопка удаления записи в таблице*/
.last-cell{
  position: relative;
}

/*стиль кнопки удаления записи из таблицы*/
.delete {
  color: red;
  position: relative;
  float: right;
  position: absolute;
  top: 0px;
  right: 0px;
}

.delete:hover{
  color:darkred;
  cursor:pointer;
}

/*стиль ячейки строки заголовка таблицы контента*/
.f{
  background-color: white;
}

/*div с кнопками смены страниц*/
.pagination{
  display: flex;
  justify-content: center;
}

/*стиль таблицы с кнопками смены страниц*/
.page-buttons-table{
  align-self: center;
  margin: 50px;
  border-collapse: separate;
}

/*отдельная кнопка смены страницы
  должна быть фиксированной ширины, т.к в номерах может содержаться
  разное количество цифр*/
.page-button{
  font-family: "Open Sans", serif;
  font-size: 0.75em;
  width: 25px;
  height: 25px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  border: 1px solid grey;
}

.page-button:hover{
  cursor: pointer;
  background-color: lightblue;
}

/* стиль нажатой кнопки выбора страницы*/
.selected{
  font-weight: bold;
  background-color: lightgreen;
}

/*строка таблицы с кнопками выбора номера страницы*/
.page-buttons-row{
  height: 100%;
}

/*div с сообщениями из приложения*/
.messages{
  align-self: center;
  text-align: center;
  color: red;
}

/*таблица с сообщениями из приложения*/
.message-table{
  width: 200px;
  text-align: center;
}

/*отдельное сообщение из приложения*/
.message{
  text-align: center;
  width: 200px;
}


/* свойства модального окна по умолчанию */
.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
	  pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 500px;
      margin: 30px auto; /* для отображения модального окна по центру */
  }
}
/* свойства для блока, содержащего контент модального окна */
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}

/*div с кнопками действий пользователя*/
.action-buttons{
  display: flex;
  justify-content: center;
}

/*div с полем поиска*/
.filter {
  display: flex;
  justify-content: center;
}

/*поле поиска*/
.filter-input{
  border-radius: 5px;
  text-align: center;
}

/*стиль кнопки действия*/
.action-button{
  align-self: center;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
  background-color: white;
  font-family: Roboto serif;
}

.action-button a{
color: grey;
}

.action-button:hover{
color: black;
}

.td-content:hover{
  cursor: pointer;
  color:grey;
}
