@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");



.content-table{
  border-collapse: collapse;
  width: 50%;
  margin-left: 25%;
  margin-top: 25px;
  margin-bottom: 50px;
}

.tr-header{
  height: 50px;
  width: 50%;
  text-align: center;
  text-color: white;
  margin: 50px;
  border: 1px solid grey;
}

.td-content {
    margin: 50px;
    padding: 0px;
    font-family: Roboto serif;
}

.last-cell{
  position: relative;
}

.close {
  color: red;
  position: relative;
  float: right;
  position: absolute;
  top: 0px;
  right: 0px;
}

.close:hover{
  color:darkred;
  cursor:pointer;
}

.f{
  background-color: white;
}

.pagination{
  display: flex;
  justify-content: center;
}

.page-buttons-table{
  align-self: center;
  margin: 50px;
  width:250px;
  border-collapse: separate;
}

.page-button{
  font-family: "Open Sans", serif;
  font-size: 0.75em;
  width: 25px;
  height: 25px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  border: 1px solid grey;
}

.page-button:hover{
  cursor: pointer;
  background-color: lightblue;
}

.selected{
  font-weight: bold;
  background-color: lightgreen;
}

.page-buttons-row{
  height: 100%;
}

.messages{
  align-self: center;
  text-align: center;
  color: red;
}

.message-table{
  width: 200px;
  text-align: center;
}

.message{
  text-align: center;
  width: 200px;
}
