<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Список сотрудников</title>
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/employees.js}"></script>
  </head>
  <body>

    <!-- Переменные для интернационализации приложения -->
    <input type="hidden" name="areYouSureToDelete" id="areYouSureToDelete" th:value="${areYouSureToDelete}">

    <th:block th:include="_header"></th:block>
    <!-- Панель выбора страницы -->
    <th:block th:include="_pagination"></th:block>

    <!-- Модальное окно добавления сотрудника -->
    <div id="openModal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Добавление сотрудника</h3>
            <a href="#close" title="Close" class="close">×</a>
          </div>
          <div class="modal-body">
            <form action="#" th:action="@{/employees/add}" th:object="${employee}" method="post">
              <table>
                <tr>
                  <td>
                    Имя
                  </td>
                    <td>
                    <input type="text" name="name" value="" th:field="*{firstName}" placeholder="Иван">
                    </td>
                </tr>
                <tr>
                  <td>
                    Фамилия
                  </td>
                    <td>
                    <input type="text" name="surname" value="" th:field="*{lastName}" placeholder="Иванов">
                    </td>
                </tr>
                <tr>
                  <td>
                    Дата рождения
                  </td>
                    <td>
                    <input type="date" name="birthday" th:field="*{birth_date}" value="">
                    </td>
                </tr>
                <tr>
                  <td>
                    Пол
                  </td>
                    <td>
                      <select class="gender" name="gender" th:field="*{gender}" >
                          <option value="M" selected>М</option>
                          <option value="F">Ж</option>
                      </select>
                    </td>
                </tr>
                <tr>
                  <td>
                    Дата принятия на работу
                  </td>
                    <td>
                    <input type="date" name="hireDate" value="" th:field="*{hireDate}" >
                    </td>
                </tr>
              </table>
              <input type="submit" name="addEmployee" value="Добавить">
            </form>
          </div>
        </div>
      </div>
    </div>
<div class="content">

  <!-- форма для редактирования данных сотрудника -->
  <form action="#" name="editForm" th:action="@{/employees/update}" th:object="${employee}" method="post">
    <input type="hidden" id="newEmpNo" name="empNumber" value="" th:field="*{employeeNumber}"/>
    <input type="hidden" id="newName" name="name" value="" th:field="*{firstName}"/>
    <input type="hidden" id="newSurname" name="surname" value="" th:field="*{lastName}"/>
    <input type="hidden" id="newBirthday" name="birthday" th:field="*{birth_date}" value=""/>
    <input type="hidden" id="newGender" name="gender" th:field="*{gender}" value=""/>
    <input type="hidden" id="newHiredate" name="hireDate" value="" th:field="*{hireDate}"/>
    <input type="hidden" id="newCurrentPage" name="currentPage" value=""/>
  </form>

  <!-- кнопки с действиями на странице -->
  <div class="action-buttons">
    <span class="action-button"><a href="#openModal">Добавить сотрудника</a></span>
  </div>

  <!-- переменные конфигурации, приходят с сервера -->
  <input type="hidden" id="currentFilterString" val="" name="currentFilterString" th:value="${filter}"/>
  <input type="hidden" name="maxPages" id="maxPages" th:value="${maxPages}"/>

  <!-- поле поиска -->
  <div class="filter">
      <input type="text" name="filter-input" id="filterInput" class="filter-input" value="" placeholder="Введите текст для поиска"/>
  </div>

  <!-- сообщения -->
  <div class="messages">
      <table class="message-table">
          <tr class="message" th:each="message : ${messages}"><p th:text = "${message}"></p><br></tr>
      </table>
    </div>

    <!-- главная таблица с контентом -->
    <table class="content-table">
      <tr class="tr-header">
        <td class="f">Номер</td>
        <td class="f">Фамилия</td>
        <td class="f">Имя</td>
        <td class="f">Пол</td>
        <td class="f">Дата рождения</td>
        <td class="f">Дата принятия на работу</td>
      </tr>
      <tr class="tr-header" th:each="employee : ${employees}">
        <td class="td-content-uneditable" th:utext="${employee.employeeNumber}"></td>
        <td class="td-content" th:utext="${employee.lastName}"></td>
        <td class="td-content" th:utext="${employee.firstName}"></td>
        <td class="td-content" th:utext="${employee.gender}"></td>
        <td class="td-content" th:utext="${employee.birth_date}"></td>
        <td class="td-content" name="hireDate" th:utext="${employee.hireDate}"></td>
        <td class="last-cell" ><span class="delete fa fa-window-close"></span></td>
      </tr>
  </table>
    </div>
    <th:block th:include="_footer"></th:block>
  </body>
</html>
