<!DOCTYPE html>
<html lang="ru" dir="ltr"  xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
    <meta charset="utf-8">
    <title>ETDA Web App</title>
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  </head>
  <body>
    <th:block th:include="/_header">
    </th:block>
    <div class="content">
      <p th:text="#{web.hello}"></p>
    </div>
    <th:block th:include="/_footer">
    </th:block>
  </body>
</html>
